fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
asyncpg
python-dotenv
httpx
python-multipart
chardet
beautifulsoup4
pillow
pillow-heif
pytesseract
pdfplumber==0.10.0
python-docx
pdf2image
unstructured==0.14.6
unstructured-pytesseract>=0.2.0
unstructured-inference==0.7.32
fuzzywuzzy
hazm
numpy<2
langchain==0.1.16
langchain-community
matplotlib>=3.7
pi_heif